<h1> Templet Driven From  : wil be Done in HTML </h1>
<div>
    <form #userForm="ngForm" (ngSubmit)="userlogin(userForm.value)">
        <div class="form-inline">
            <label>NAME <span style="color: red;" *ngIf="uname.invalid">*</span>  :  </label>
            <input type="text" class="form-control" name="uname" #uname="ngModel"  ngModel required placeholder="Enter name "> 
            <br> <span *ngIf="uname.invalid && uname.touched">Name is Requried ...!</span>
        </div>

        <div  class="form-inline">
           <label>PASS <span style="color: red;" *ngIf="upass.invalid">*</span>:  </label>
            <input type="text" class="form-control" name="upass" #upass="ngModel" ngModel required placeholder="Enter pass">
            <br> <span *ngIf="upass.invalid && upass.touched">Pass is Requried ...!</span>
        </div>
        <div>
            <br>
            <input type="submit" class="btn btn-success">
            <input type="reset" class="btn btn-danger">
        </div>
    </form>

</div>
<hr>
<h1>Reactive Driven From : will be done in TS </h1>
<app-reactivedrivenfrom></app-reactivedrivenfrom>