<h1> Hi Welcome to Data Binding  Demo page </h1>
<!-- 
<h2> Data Binding </h2>
    <h3> One Binding </h3>
        <h4>Event , Property, Interpoletion</h4>
    <h3> Two way </h3>
        event+ property  -->

       
        <h1> HI {{name}}</h1>

<input type="submit" value="SUBMIT" (click)="abc()">
<br>
NAME  :<input type="text" #username>
<input type="submit" value="CLICK" (click)="getName(username.value)">

<hr>

<input type="submit" value="CLICK" [disabled]="mychoice">
<hr>
   <div class="container-fluid">
    <form>
        principle  :<input type="text" #p><br> 
        Time  :<input type="text" #t><br>
        RATE   :<input type="text" #r disabled value={{roi}}><br>
        <select (change)="loan($event)">
            <option >Type of LOAN  </option>
            <option value="car">CAR </option>
            <option value="home">HOME </option>
            <option value="personal">PERSONL </option>
            <option value="eduation">EDUCATION </option>
        </select><br>
        EMI : <input type="text" id="emi" value={{myemi}}><br>
        TOTAL : <input type="text" id="total" value={{mytotal}}><br><br>

        <input type="button" value="CACULATE" (click)="cal(p.value,t.value,r.value)" class="btn btn-primary">
        <input type="reset" value="RESET" class="btn btn-danger">
       </form>
        

   </div>
