<div [ngClass]="{'bgclr':true,'brdr':true}">
    Simp is an internet slang term describing someone
     who shows excessive sympathy and attention toward 
     another person, typically someone who does not 
     reciprocate the same feelings, in pursuit of 
     affection or a sexual relationship.
</div>
<div [ngClass]="{'bgclr':false,'brdr':true}">
    Simp is an internet slang term describing someone
     who shows excessive sympathy and attention toward 
     another person, typically someone who does not 
     reciprocate the same feelings, in pursuit of 
     affection or a sexual relationship.
</div>
<div [ngClass]="{'bgclr':true,'brdr':false}">
    Simp is an internet slang term describing someone
    who shows excessive sympathy and attention toward 
    another person, typically someone who does not 
    reciprocate the same feelings, in pursuit of 
    affection or a sexual relationship.
</div>