<p>pipedemo works!</p>
<h3>
    {{name}}<br>
{{name | uppercase}}<br>
{{name | lowercase}}<br>
{{name | titlecase}}<br>
<br>

{{amount}}<br>
{{amount | currency}}<br>
{{amount | currency: 'INR'}}<br>
{{amount | currency :'JPY'}}<br>
{{amount | currency :'EUR'}}<br>


<br>

{{d }}<br>
{{d | date}}<br>
{{d | date :'yyyy-MM-dd'}}<br>

{{d | date :'dd-MM-yyyy'}}<br>

{{d | date :'dd-MM-yy'}}<br>

{{d | date :'dd-MM-yy hh-mm-ss'}}<br>
<br>

{{emp1}}<br>

{{emp1| json}}<br>
</h3>

<hr>

<ul *ngFor="let employee of emp">
    <li>{{employee.id}}=====>{{employee.uname | uppercase}}====>{{employee.email | lowercase }}</li>
</ul>
<hr> 

